{% section 'hero-breadcrumb' %}

{% paginate blog.articles by 6 %}

<!-- All blogs -->
<div class="blog-area pt-100 pb-100">
    <div class="container">
        <div class="row">

            {% for article in blog.articles %}
                {% include 'single-article' with
                    article: article,
                    wrapper_class: 'col-md-6 col-lg-4 col-xl-4 col-12',
                    single_class: 'mb-50'
                %}
            {% endfor %}

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pagination-style text-center">
                    {% if paginate.pages > 1 %}
                        {% include 'pagination' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endpaginate %}