<div class="banner-area pt-100 pb-85">
    <div class="container custom">
        <div class="row">
            {% for collection in collections %}
                {% unless collection.handle == 'frontpage' %}
                    {%- capture wrapper_class -%}
                        {%- cycle 'group1': 'col-md-7', 'col-md-5' -%}
                    {%- endcapture -%}
                    {%- capture banner_positon -%}
                        {%- cycle 'group2': 'banner-content3-position1', 'banner-content3-position3' -%}
                    {%- endcapture -%}
                    {%- capture image_size -%}
                        {%- cycle 'group3': '680x350', '480x350' -%}
                    {%- endcapture -%}

                    {% include 'single-collection' with 
                        collection, wrapper_class, banner_positon, image_size
                    %}
                {% endunless %}
            {% endfor %}
        </div>
    </div>
</div>