{% section 'hero-breadcrumb' %}

<div class="contact-area ptb-100">
    <div class="container">
        <div class="contact-info">
            <h2 class="contact-title">contact info</h2>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="single-contact-info mb-40">
                        <div class="contact-info-icon">
                            <i class="ion-ios-location-outline"></i>
                        </div>
                        <div class="contact-info-content">
                            <p>
                                Location : <br> 77, avenue, Brat road USA.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-contact-info mb-40">
                        <div class="contact-info-icon">
                            <i class="ion-ios-telephone-outline"></i>
                        </div>
                        <div class="contact-info-content">
                            <p>
                                Phone : <br> +012 345 678 102
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-contact-info mb-40">
                        <div class="contact-info-icon">
                            <i class="ion-ios-email-outline"></i>
                        </div>
                        <div class="contact-info-content">
                            <p>Mail : <br> <a href="#">info@example.com</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-form-wrap">
            <h2 class="contact-title">Get In Touch</h2>
            <div class="contact-message">
                <form id="contact-form" action="assets/mail.php" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="contact-form-style contact-font-one">
                                <input name="name" placeholder="Your Name" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact-form-style contact-font-two">
                                <input name="email" placeholder="Your Email" type="email">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="contact-form-style contact-font-three">
                                <input name="subject" placeholder="Your Title" type="text">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="contact-form-style contact-font-four">
                                <textarea name="message" placeholder="Message"></textarea>
                                <button class="submit btn-hover" type="submit"> Send Message</button>
                            </div>
                        </div>
                    </div>
                </form>
                <p class="form-messege"></p>
            </div>
        </div>
        <div class="contact-map">
            <div id="octabyte2"></div>
        </div>
    </div>
</div>