{% layout 'password' %}

<div id="protected-element" class="container">
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-4 cell-padding">
            <a href="#" style="color:#ffffff" onclick="enterStore()">ENTER USING PASSWORD</a>
        </div>
    </div>
    <div class="row mt-50">

        <div class="col-sm-4"></div>
        <div class="col-sm-4 center-alignement cell-padding">
            <div>
                <h3>FoxyTest</h3>
            </div>
            <br><br>
            <div>
                <h1>Opening Soon</h1>
            </div>
            <br>
            <div>BE THE FIRST TO KNOW WHEN WE LAUNCH.</div>
            <br><br>
            <div>
                {% form 'customer' %}
                    {{ form.errors | default_errors }}
                    {% if form.posted_successfully? %}
                        <h6>We will send you an email right before we open!</h6>
                    {% else %}
                        <input 
                            type="email" 
                            class="form-control" 
                            placeholder="Enter Email"
                            name="contact[email]"
                            id="Email"
                            spellcheck="false"
                            autocomplete="off"
                            autocapitalize="off">
                        <br>
                        <input type="submit" name="commit" class="btn btn-dark">     
                    {% endif %}
                    
                {% endform %}
            </div>
            <br>
            <div>SPREAD THE WORD</div>
            <div>
                {% if settings.social_facebook_share != blank %}
                    <span>
                        <a href="{{ settings.social_facebook_share }}" style="color:#ffffff">Facebook</a>
                    </span>
                {% endif %}
                {% if settings.social_instagram_link != blank %}
                    <span>
                        <a href="{{ settings.social_instagram_link }}" style="color:#ffffff">Instagram</a>
                    </span>
                {% endif %}
            </div>
            <br><br>
            <div>
                This shop will be powered by 
                <a href="//shopify.com" style="color: #ffffff">Shopify</a>
            </div>
        </div>
        <div class="col-sm-4"></div>

    </div>
</div>