.badge-notify{
    background: #e93233;
    color: #fff;
    font-size: 13px;
    position: relative;
    top: -12px;
    left: -16px;
    border-radius: 50%;
    font-weight: bold;
}

.product-regular-price {
    color: #333;
    font-size: 21px;
    margin-left: 10px;
    font-weight: 400;
}