<div class="text-center mt-5">
    <h2>My Account</h2 <a href="#">Logout</a>
    <div class="divider" style="border: 1px solid #eee; width:10%; margin:auto; margin-top:10px"></div>
</div>

<div class="container ptb-50">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <h3 id="address-heading">YOUR ADDRESSES</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-dark">ADD NEW ADDRESS</button>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12" id="address">
                    <strong>Defaul Address</strong>
                    First last name <br>
                    Your shiiping address <br>
                    Postal code 123 <br>
                    Pakistan
                    <br><br>
                    <button class="btn btn-dark" onclick="editAddress()">Edit</button>
                    <button class="btn btn-danger ml-3">Delete</button>
                </div>

                <div class="col-sm-12" id="edit-address" style="display: none">
                    <div class="login">
                        <div class="login-form-container">
                            <div class="login-form">
                                <form action="#" method="post">
                                    <input type="text" name="user-name" placeholder="First Name">
                                    <input type="text" name="user-name" placeholder="Last Name">
                                    <input type="text" name="user-name" placeholder="Company">
                                    <input type="text" name="user-name" placeholder="Address1">
                                    <input type="text" name="user-name" placeholder="Address2">
                                    <input type="text" name="user-name" placeholder="City">
                                    <select>
                                        <option>Country</option>
                                    </select>
                                    <br><br>
                                    <input type="text" name="user-name" placeholder="Postal/Zip Code">
                                    <input type="text" name="user-name" placeholder="Phone">
                                    <div class="button-box">
                                        <div class="login-toggle-btn">
                                            <input type="checkbox">
                                            <label>Set as default address</label>
                                        </div>
                                        <button type="submit" class="default-btn floatright">Update</button>
                                        <button onclick="cancelEditAddress(event)"
                                            class="default-btn floatright ml-3">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function editAddress() {
        var addressHeading = document.getElementById('address-heading');
        addressHeading.innerText = "EDIT ADDRESS";

        var addressElement = document.getElementById('address');
        addressElement.style.display = "none";

        var editAddress = document.getElementById("edit-address");
        editAddress.style.display = "block"
    }

    function cancelEditAddress(event) {
        event.preventDefault();

        var addressHeading = document.getElementById('address-heading');
        addressHeading.innerText = "YOUR ADDRESSES";

        var addressElement = document.getElementById('address');
        addressElement.style.display = "block";

        var editAddress = document.getElementById("edit-address");
        editAddress.style.display = "none"
    }
</script>