<div class="register-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            {% form 'recover_customer_password' %}
                                {{ form.errors | default_errors }}

                                <input 
                                    type="email" 
                                    name="email" 
                                    placeholder="{{ 'customer.recover_email' | t }}"
                                    id="RecoverEmail"
                                    spellcheck="false"
                                    autocomplete="off"
                                    autocapitalize="off">
                                
                                <div class="button-box">
                                    <div class="login-toggle-btn">
                                        <a href="/account/login">{{ 'customer.login' | t }}?</a>
                                    </div>
                                    <button type="submit" class="default-btn floatright">
                                        {{ 'login.recover' | t }}
                                    </button>
                                </div>
                            {% endform %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
