<section 
    class="new-collection"
    data-section-id="{{ section.id }}"
    data-section-type="new-collection" >
<div class="product-collection-area pt-100 pb-50">
    <div class="container">
        <div class="section-title text-center mb-55">
            <h2>{{ section.settings.title }}</h2>
            <p>{{ section.settings.desc }}</p>
        </div>
        <div class="row">

            {% assign products = collections.all.products | sort: 'published_at' | reverse | slice: 0, 8 %}
            {% for product in products %}
                {% include 'single-product' with
                    product: product,
                    wrapper_class: 'col-md-6 col-lg-4 col-xl-3',
                    single_class: 'mb-35'
                %}
            {% endfor %}

        </div>
    </div>
</div>
</section>

{% schema %}
{
    "name": "New Collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "New Collection"
        },
        {
            "type": "richtext",
            "id": "desc",
            "label": "Short Description"
        }
    ],
    "presets": [
        {
            "category": "Collection",
            "name":"New Collection"
        }
    ]
}
{% endschema %}