<section 
    class="top-stories" 
    data-section-id="{{ section.id }}"
    data-section-type="top-stories" >

<div class="blog-area pb-65">
    <div class="container">
        <div class="section-title text-center mb-55">
            <h2>{{ section.settings.title }}</h2>
            <p>{{ section.settings.desc }}</p>
        </div>
        <div class="row">
            {% assign articles = blogs.news.articles | slice: 0, 3 %}
            {% for article in articles %}
                {% include 'single-article' with 
                    article: article,
                    wrapper_class: 'col-lg-4 col-md-6',
                    single_class: 'mb-30'
                %}
            {% endfor %}
        </div>
    </div>
</div>

</section>

{% schema %}
{
    "name": "Top Stories",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Top Stories"
        },
        {
            "type": "richtext",
            "id": "desc",
            "label": "Short Description"
        }
    ],
    "presets": [
        {
            "category": "Blog",
            "name":"Top Stories"
        }
    ]
}
{% endschema %}